<!DOCTYPE html>
<html>
  <head>
    <title>Input Memo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Input Memo's</h1>
    <p>Input Your Data</p>
    <form action="create" method="post">
      Memo :<br>
      <input type="text" name="title" placeholder="Input Your Memo"><br>
      Status :<br>
      <input type="checkbox" name="is_complete">Completed<br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
