<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/memos" method="post">
      Email :
      <input type="text" name="email" placeholder = "Email" >
      Title :
      <input type="text" name="title" placeholder="Title">
      Complete :
      <input type="text" name="iscomplete" placeholder="Complete">
      <input type="submit" value="Submit" >
</form>
</html>
