<!DOCTYPE html>
<html>
  <head>
    <title>Update</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <form class="" action="/update" method="post">
      <label for="task">New Task:</label>
      <input type="text" name="task" placeholder="Task">
      <!-- nomor ID otomatis di render di dalam form, jadi bisa dikirim ulang ke router selanjutnya -->
      <input type="text" name="numberId" value= <%= userId %> hidden>
      <br><br>
      <label for="email">Email:</label>
      <select name="email">
        <% for (let i = 0; i < userFromRouter.length; i++) { %>
          <option value="<%= userFromRouter[i].id %>" > <%= userFromRouter[i].email %> </option>
        <% } %>
      </select>
      <br>
      <br><br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
