<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>FORM UPDATE DATA</h1>
        <form action="/doUpdate" method="post">
          <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" name="id" readonly="true" value="<%= data.id %>">
          </div>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" value="<%= data.title %>">
          </div>
          <div class="form-group">
            <label for="title">Complete:</label>
            <input type="text" name="is_complete" value="<%= data.is_complete %>">
          </div>
        <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
