<!DOCTYPE html>
<html>

<head>
    <title>crete user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>creating user</h1>
    <form action="/users/create" method="post">
        name:<br>
        <input type="text" name="name" value="">
        <br> email:<br>
        <input type="text" name="email" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
