<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Input User</h1>
    <p>Input Your Data</p>
    <form action="create" method="post">
      First name :<br>
      <input type="text" name="first_name" placeholder="Input First Name"><br>
      Last name :<br>
      <input type="text" name="last_name" placeholder="Input Last Name"><br>
      E-mail :<br>
      <input type="text" name="email" placeholder="Input E-mail"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
