<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit User</h1>
    <p>Input Your Data</p>
    <form action="/users/update/<%=user.id%>" method="post">
      First name :<br>
      <input type="text" name="first_name" value="<%=user.first_name%>" placeholder="Input First Name"><br>
      Last name :<br>
      <input type="text" name="last_name" value="<%=user.last_name%>" placeholder="Input Last Name"><br>
      E-mail :<br>
      <input type="text" name="email" value="<%=user.email%>" placeholder="Input E-mail"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
