<% include ../partials/header %>


<body>

    <!-- Following Menu -->

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Detail user :   </h3>
                        <h3 class="ui header"><%= user.name %>   </h3>
                        <h3 class="ui header"><%= user.email %>   </h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>

</body>

</html>
